.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: 5rem;
}