.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 60%;
  height: 100vh;
  background-image: url('../../../assets/images/adminconsole.png');
  background-position: 35% 0%;
  background-size: cover;
}

.leftImg {
  width: 80%;
  height: auto;
}

.right {
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

.title {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.input {
  width: 80%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  border: 0.5px solid grey;
  font-size: 1rem;
}

.validBox {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  color: red;
  font-size: 1rem;
}

.subContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  text-decoration: underline;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.subContainerText {
  color: #1976d2;
}

.submitbtnbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.submitbtnText {
  margin-right: 1rem;
}
