.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 85%;
  margin: auto;
}

.btncontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}